# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/.idea/
android/.kotlin/
*.iml
*.hprof

# iOS
ios/build/
ios/Pods/
ios/*.xcuserstate
ios/**/xcuserdata/
ios/.xcode.env.local

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# coverage
/coverage
